{% extends 'base.html.twig' %}

{% block title %}Dashboard - {{ team.name }}{% endblock %}

{% block body %}
<nav class="navbar navbar-light bg-light sticky-top">
  <div class="container">
    <span class="navbar-brand">CTF TRACKER</span>
    <span>{{ team.name }}</span>
    <a href="{{ path('app_logout') }}" class="btn btn-outline-danger btn-sm">Deconnexion</a>
  </div>
</nav>

<div class="container py-4">
  <div class="row g-4">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">VOTRE SCORE</h5>
          <p class="display-4 fw-bold font-monospace">{{ team.score }} pts</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">VOTRE RANG</h5>
          <p class="display-4 fw-bold">#{{ rank }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
